<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.das_entrega2">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera2.full" android:required="true"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TemaDAS"
        android:usesCleartextTraffic="true">

        <provider
            android:authorities="com.example.das_entrega2"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/configalmacen"/>
        </provider>

        <activity android:name=".actividades.ActivityMapa"></activity>
        <activity android:name=".actividades.ActivityCamara"></activity>
        <activity android:name=".actividades.ActivityPedido">
            <intent-filter>
                <action android:name="AVISO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".actividades.ActivityDetalles" />
        <activity android:name=".actividades.ActivityPostre" />
        <activity android:name=".actividades.ActivityPreferencias" />
        <activity android:name=".actividades.ActivityComida" />
        <activity android:name=".actividades.MainActivity" />
        <activity android:name=".actividades.ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServicioFirebase"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA0r5YJlQS6Gy4XUebe2Ki-gNexgVoFar4" />

    </application>

</manifest>